@model Sys_AccountsDto

@{
    ViewData["Title"] = "帳號管理";
}

<h1>帳號管理</h1>

<div>
    <h4>帳號資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updater)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
