@model IEnumerable<InventoryDto>

@{
    ViewData["Title"] = "庫存管理";
}

<h1>庫存管理</h1>

<p>
    <a asp-action="Create">新增庫存產品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinStockLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStockLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastStockInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastStockOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdaterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreaterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinStockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxStockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStockInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStockOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdaterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreaterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Inventory_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Inventory_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Inventory_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
