@model IEnumerable<ProductsDto>

@{
    ViewData["Title"] = "產品管理";
}

<h1>產品管理</h1>

<p>
    <a asp-action="Create">新增產品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdaterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreaterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdaterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreaterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Product_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Product_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
