@model CustomersDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Customer_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
